@import '@novelty/ui/theme';

@layer base {
	body {
		@apply relative min-h-screen overflow-x-hidden;
	}

	div.cta {
		@apply fixed inset-x-0 bottom-0 bg-background p-4;

		& > :is(button, a) {
			@apply h-12 w-full bg-primary px-6 py-4 text-lg;
		}
	}
}
